* {
  box-sizing: border-box;
}

html{
  background: url(../images/coins.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  margin: 0px;
  color:rgb(255, 255, 255);
  font-size: 20px;
}

.under_construct{
  width: 100%;
  height: auto;
  font-size: 90px;
  text-align: center;
  font-weight: bold;
  color:rgb(0, 0, 0);
}

.frame{
  width: 1000px;
  height: auto;
  margin: 0px auto;
}

.fieldsets{
  text-align: center;
}

.fieldsets_input_div_parts{
  display: inline-block;
}

.input{
  width: 280px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-style: hidden;
  margin: 2px 0px 2px 0px;
  outline: none;
}

.input_payment{
  margin-bottom: 10px;
}

.input_select{
  width: 280px;
  height: 30px;
  text-align-last: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-style: hidden;
  margin: 2px 0px 12px 0px;
  outline: none;
  font-size: 18px;
}

.input_select_option{
  text-align: center;
}

.input_checkbox{
  transform: scale(1.5);
}

.button{
  background: none;
  border: none;
  margin: 10px 0px 0px 0px;
  padding: 0;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.rec_button{
  margin: 6px 5px 0px 5px;
}

#login_button :hover{
  background-color: rgb(157, 157, 156, .8)
}
#footer1{
  left: 80%;
  top: 90%;
  position: fixed;
}

#footer2{
  right: 88%;
  top: 90%;
  position: fixed;
}

#footer2 a{
  text-decoration: none;
  color: rgb(158, 27, 219);
}

.header{
  width: 100%;
  height: auto;
  display:flex;
}

.content{
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 15px;
  border-style: dashed;
  border-width: 1px;
  margin: 30px 0px 30px 0px;
  background-color: rgb(157, 157, 156, .8);
}

.logout_button{
  margin:auto;
  margin-right: 0px;
  padding: 20px 15px;
  display: inline-block;
  text-decoration:none;
  position:relative;
  z-index: 1;
  color: #fff;
  background: rgb(157, 157, 156, .8);
  text-transform:uppercase;
  border-bottom-left-radius: 15px;
}

.logout_button a{
  text-decoration:none;
  color: #fff;
}

.logout_button:hover a{
    background: rgb(157, 157, 156, .9);
    color: #fff;
}

nav{

    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin:auto;
    margin-left:0px;
}
.container{
  margin: auto;
  width:100%;
  max-width:1200px;

}
.menu{
  padding: 0px;
  margin:0px;
  position:relative;
}
.menu li{
  float:left;
  list-style:none;
}

.menu li:last-child {
  border-bottom-right-radius: 15px;
}

/*
.logout_button a::before{
  content:" ";
    position: absolute;
    background:#ccc;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
  transition-duration:1s;
}
.logout_button:hover > a::before{
  width:100%;
}
*/

.menu li a{
  padding: 20px 15px;
  display: inline-block;
  text-decoration:none;
  position:relative;
  z-index: 1;
  color: #fff;
  background: rgb(157, 157, 156, .8);
  text-transform:uppercase;
}
.menu li a::before{
  content:" ";
    position: absolute;
    background:#ccc;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
  transition-duration:1s;
}
.menu li:hover > a::before{
  width:100%;
}
.menu li:hover a{
  background: rgb(157, 157, 156, .6);
  color: #fff;
}
.menu li ul{
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 100;
  display:none;
  background: rgb(157, 157, 156, .8);
}
.menu li:hover ul{
  display:block;
}
.menu li ul li a{
  width: 100%;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}

.modal_content {
  background-color: rgb(157, 157, 156, .8);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 750px;
}

#edit_recipent_id{
  display: none;
}
